<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tevin.inside">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inside">
        <activity
            android:name=".AddItem"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".AddCategory"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ChangePassword"
            android:exported="true"
            android:parentActivityName=".ProfileActivity"/>
        <activity
            android:name=".EditDetails"
            android:exported="true"
            android:parentActivityName=".ProfileActivity"/>
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:parentActivityName=".RegisterActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>